*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  text-decoration: none;
}
.menu-links{
  padding: 20px;
  gap: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.menu-links a{
  text-decoration: none;
}
.home{
  font-weight: 700;
  color:  rgb(37, 36, 50);
  font-size: 16px;
}
.shop{
  font-weight: 400;
  color: rgb(137, 135, 161);;
}
.about{
  color: rgb(137, 135, 161);
  font-weight: 400;
  letter-spacing: 0%;
  
}
.cart{
  color:  rgb(0, 0, 0);
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;

}
.cart a{
  display: flex;
  align-items: center;
  gap: 6px;

}
.icon{
  width: 14px;
  height: 15px;
}
@media screen and (max-width:768px) {
  .home, .shop, .about {
    display: none;
  }
  .cart{
    display: block;
    gap: 0;
  }
  .icon{
    display: block;
    justify-content: space-between;
  }
  .navbar {
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  .cart a{
    font-size: 16px;
  }
  .logo img{
    width: 100%;
  }
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:50px;
  gap:20px;
}
.banner-left h1{
  font-weight: 700;
  font-size: 65px;
  flex: 1;
  line-height: 1.3;

}
.banner-left p{
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.5);;
}
span{
  color: rgb(233, 90, 8);
}
..banner-right {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width:768px) {
  .banner{
    flex-direction: column-reverse;
    text-align: left;
  }
  p{
    text-align: start;
  }
  
}


  
  
  
.plants{
  justify-content: center;
  text-align: center;
}
.plants p {
  text-align: center;
}
.container{
  padding: 10px 10px;
  margin: 10px 10px;
  box-sizing: border-box;
  gap: 20;
}
.plants{
  padding: 60px;
  color: rgba(0, 0, 0, 0.5);;
}
@media screen and (max-width:768) {
  .plants{
    display: block;
  }
  
}
.container{
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  text-align: center;
  
}
.flower{
  border: none;
  padding: 10px;
  gap: 20;
}
.container img{
  width: 100%;
  gap: 20;

}
.container button{
  width: 100%;
  height: 40px;
  background-color: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  gap: 10;
  width: 100%;



}
.container p{
  font-weight: 700;
}
@media screen and (max-width:768px) {
  .container{
  grid-template-columns: repeat(2,4fr);
  
  }
  .flower p{
    text-align: center;
  }
}
.lover{
  padding: 80px;
   display: flex;
 justify-content: center;
 align-items: flex-start;
 gap: 20px;
 
 }
.img{
  position: static;
  display: flex;
width: 540px;
height: 597px;
flex: none;
order: 0;
flex-grow: 0;
  
}
.badge{
  
width: 286px;
height: 286px;
left: 497px;
top: 2072px;
}
.lover-text h2{
display:flex ;
color: rgb(0, 0, 0); 

}
.lover-text ul{
  color: rgba(0, 0, 0, 0.5);;
}
@media screen and (max-width:768px) {
  .lover {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }
  .img-content .badge{
    display: none;
  }
  
}
.section{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
}
.img-content{
  position: relative;
  max-width: 400px;
  width: 100%;
}
.img-content img{
  width: 100%;
  height: auto;
  display: block;
}
.img-content .badge{
  position: absolute;
  top: -50px;
  left: 300px;
  width: 150px;
  height: auto;

}
@media screen and (max-width:768px) {
  .section{
    text-align: start;
    align-items: flex-start;
  
  }
  
}
.deals{
align-items: center;
text-align: center;
}
.deals p{
  color:rgba(0, 0, 0, 0.5);
  text-align: center;
}
.deal-container{
  padding: 100px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width:768) {
  .deals{
    text-align: center;
    padding: 20px;
  }
  
}
.left-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  min-width: 250px;
}
.small-card, .big-card{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.small-card img, .big-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;

}
.text{
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 30%;
  color: white;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.text h3{
  margin: 0;
  font-size: 18px;
}
.text a{

  color: white;
  font-size: 18px;
}
.big-card{
  flex: 2;
  min-width: 300px;
}
@media screen and (max-width:768px) {
  .deal-container {
    flex-direction: column-reverse;
  }
  .big-card {
    order: -1;
  }

  
}
.news{
  height: 300px;
  background-image: url(./news-letter-bg.png);
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  text-align: center;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);;


}
.news h2{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height:68px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
}
.news form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  
}
.news input{
  padding: 5px;
  width: 300px;
  max-width: 100%;
  border: none;
  
}
.news button{
  color: rgb(255, 255, 255);
  background-color:  rgb(233, 90, 8);
  border: none;
  text-align: center;
  align-items: center;
  line-height: 19px;
  padding: 10px;
  
}
@media screen and (max-width:768) {
  .news{
    align-items: center;
  }
  
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px 20px;
  gap: 20px;
}
.footer,.logo{
  margin-bottom: 20px;

}
.footer-left{
  flex: 1 1 250px;
  margin-bottom: 10px;
}
.footer-links{
  display: flex;
  flex: 2 1 400px;
  justify-content: space-around;
  gap: 20;
}
.footer-links ul{
  list-style: none;
  padding: 0;
}
.footer-links li{
  margin-bottom: 10px;
}
.footer-social{
  flex: 1 1 100px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}
.footer-social img{
  width: 28px;
  height: 28px;
}
@media screen and (max-width:768px) {
  .footer-social{
    display: none;
  }
  .footer .logo2{
    align-items: center;
    display: flex;
    text-align: center;

  }
  
  }
  







  













